In [85]:
import psycopg2
from psycopg2.extensions import AsIs
import psycopg2
import pandas as pd

In [86]:
%run -i ../sql_helpers.py
display(db_credentials)

{'dbname': 'gta',
 'port': 5432,
 'user': 'gta_p8',
 'password': 'r7sdkfdq',
 'host': 'ikgpgis.ethz.ch'}

In [87]:
kirchen_zuerich = pd.read_csv("csv/kirchen-zurich.csv", encoding = "utf-8", sep="	")
restaurant_zurich = pd.read_csv("csv/restaurant-zurich.csv", encoding = "utf-8", sep="	")
kirchen_zuerich.head

<bound method NDFrame.head of           @lat      @lon                                       name  \
0    47.371937  8.520866                      Synagoge Agudas Achim
1    47.375034  8.527694          Evangelisch Methodistische Kirche
2    47.402983  8.574152                          Kirchgemeindehaus
3    47.369365  8.553327     Mission catholique de langue française
4    47.369483  8.553266                 Couvent St-Nicolas de Myre
..         ...       ...                                        ...
115  47.332704  8.516048                            Kirche Leimbach
116  47.365626  8.553062              Kirche Christi Wissenschafter
117  47.414579  8.518635  Kirchliches Zentrum Neuaffoltern Glaubten
118  47.370554  8.505807                        Thomaskirche im Gut
119  47.360712  8.505901                                Friesenberg

             addr:street addr:housenumber  addr:postcode addr:city building  \
0           Erikastrasse                8         8003.0    Zürich      NaN
1                    NaN              NaN            NaN       NaN      NaN
2                    NaN              NaN            NaN       NaN      NaN
3       Hottingerstrasse               36         8032.0    Zürich      NaN
4       Hottingerstrasse               36         8032.0    Zürich      NaN
..                   ...              ...            ...       ...      ...
115                  NaN              NaN            NaN       NaN      NaN
116                  NaN              NaN            NaN       NaN      NaN
117  Riedenhaldenstrasse                1            NaN       NaN   church
118                  NaN              NaN            NaN       NaN      NaN
119                  NaN              NaN            NaN       NaN      NaN

      religion      denomination
0       jewish               NaN
1    christian         methodist
2    christian          reformed
3    christian    roman_catholic
4    christian    roman_catholic
..         ...               ...
115  christian        protestant
116  christian  christ_scientist
117  christian               NaN
118  christian        protestant
119  christian               NaN

[120 rows x 10 columns]>

In [88]:
conn = psycopg2.connect(**db_credentials)
cur = conn.cursor()

In [93]:
sql_string_with_placeholders = "INSERT INTO church (address_id, church_name) VALUES (%s, %s)"
cur.mogrify(sql_string_with_placeholders,(100, "kirche"))

b"INSERT INTO church (address_id, church_name) VALUES (100, 'kirche')"

In [96]:
for idx, row in kirchen_zuerich.iterrows():
    #prepare input values
    church_name = row['name'] #<class 'str'> x

    address_street = row['addr:street'] #<class 'str'>
    if(type(address_street) == float):
        address_street = 'keine Adresse vorhanden!'

    address_number = row['addr:housenumber'] #<class 'str'>
    if(type(address_number) == float):
        address_number = '-'

    city_postcode = row['addr:postcode'] #<class 'str'>
    if pd.isna(city_postcode) == True:
        city_postcode = '-'
    else:
        city_postcode = int(city_postcode)
        city_postcode = str(city_postcode)

    city_name = row['addr:city'] #<class 'str'>
    if(type(city_name) == float):
        city_name = '-'

    lon = row["@lon"] #<class 'float'>

    lat = row["@lat"] #<class 'float'>



    sql_city = "If Not Exists(select * from gta_p8.city where postcode='"+city_postcode+"') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End"

    sql_address = ...

    sql_kirchen = "INSERT INTO gta_p8.church (address_id, church_name) VALUES (%s, %s)"

If Not Exists(select * from gta_p8.city where postcode='8003') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='-') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='-') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8032') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8032') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8004') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='-') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='-') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='-') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='-') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8004') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='-') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8047') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='-') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8057') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8006') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8006') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8004') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8057') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8052') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8048') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='-') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8001') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8037') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8037') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8046') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8002') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='-') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8057') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8049') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='-') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8004') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8001') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8037') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8052') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8001') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8001') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8032') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='-') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8032') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8001') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8044') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8044') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8044') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8003') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8008') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8001') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8004') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8005') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8003') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8001') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8047') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8046') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='-') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8057') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='-') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='-') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='-') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='-') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='-') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='-') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8048') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='-') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8051') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8055') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='-') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='-') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='-') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8032') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='-') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8004') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8050') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8001') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8001') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8057') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8050') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='-') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8051') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8051') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8001') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8037') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8057') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8051') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8008') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8006') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8006') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8006') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8006') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='-') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='-') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8001') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8046') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8032') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8005') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8032') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8001') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8008') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8008') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8050') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='-') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8053') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8053') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8002') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8053') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8003') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8048') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='-') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8048') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='-') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8055') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='-') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='8055') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='-') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='-') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='-') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='-') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='-') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='-') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='-') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End
If Not Exists(select * from gta_p8.city where postcode='-') Begin insert into ta_p8.city (city_postcode, city_name) VALUES (%s, %s) End

In [91]:
for idx, row in restaurant_zurich.iterrows():
    #prepare input values
    restaurant_name = row['name'] #<class 'str'>

    restaurant_website = row['website'] #<class 'str'>
    if(type(restaurant_website) == float):
        restaurant_website = 'keine Website vorhanden!'

    restaurant_type = row['cuisine']
    if(type(restaurant_type) == float):
        restaurant_type = 'keine Kategorie!'

    address_street = row['addr:street'] #<class 'str'>
    if(type(address_street) == float):
        address_street = 'keine Adresse vorhanden!'

    address_number = row['addr:housenumber'] #<class 'str'>
    if(type(address_number) == float):
        address_number = '-'

    city_postcode = row['addr:postcode'] #<class 'str'>
    if pd.isna(city_postcode) == True:
        city_postcode = '-'
    else:
        city_postcode = str(city_postcode)

    city_name = row['addr:city'] #<class 'str'>
    if(type(city_name) == float):
        city_name = '-'   

    lon = row["@lon"] #<class 'float'>

    lat = row["@lat"] #<class 'float'>